label {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1em;
    cursor: pointer;
    border: 0.1em solid #bfbfbf;
    border-radius: 0.5em;
    padding: 0.75em;
    font-family: 'Karla';
    margin-top: 1.5em;
    font-size: clamp(0.01rem, 0.5vw + 1rem, 1.5rem);
}

input {
    position: absolute;
    left: -9999px;
    top: -9999px;
}

input:checked + span {
    background-color: #1890ff;
}

input:checked + span::before {
    left: calc(100% - 0.1em);
    transform: translateX(-100%);
}

.slider {
    display: flex;
    cursor: pointer;
    width: clamp(1em, 7vw + 0.5em, 3em);
    height: clamp(0.8em, 3.8vw + 0.5em, 1.45em);
    border-radius: 3em;
    background-color: #bfbfbf;
    position:relative;
    transition: background-color 0.2s;
}

.slider::before {
    content: "";
    position: absolute;
    top: 0.1em;
    left: 0.1em;
    width: clamp(0.75em, 3.13vw + 0.5em, 1.25em);
    height: clamp(0.75em, 3.13vw + 0.5em, 1.25em);
    border-radius: 1em;
    transition: 0.2s;
    background-color: #fff;
    box-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.3);
}

.slider:active::before {
    width: 1.5em;
}