.stats--row {
    font-family: 'Inter';
    font-size: clamp(0.01rem, 0.5vw + 0.5rem, 1.5rem);
    display: flex;
    flex-direction: row;
    line-height: 1.5em;
    color: #4A4E74;
    width: 100%;
}

.link {
    text-decoration: underline;
}

.link:hover {
    cursor: pointer;
}

.stats--time {
    margin-right: auto;
}